.i-text-bold{
    font-family: 'Barlow';
font-style: normal;
font-weight: 1000;
font-size: 13rem;
line-height: 80px;color: #212B36;
}

.i-text-light{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #637381;
}

.i-button{
    
    margin-top: 3rem;
    border-radius: 10px;
}



